/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

/* libre-baskerville-regular - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Libre Baskerville';
    font-style: normal;
    font-weight: 400;
    src: url('./fonts/libre-baskerville-v14-latin-regular.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* libre-baskerville-700 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Libre Baskerville';
    font-style: normal;
    font-weight: 700;
    src: url('./fonts/libre-baskerville-v14-latin-700.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Libre Baskerville', 'Arial', sans-serif;
    font-weight: 700;
}

.container {
    width: 1400px;
    margin: 0 auto;
    padding: 0 20px;
}

.header-wrapper {
    padding: 40px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-bottom: 1px solid #E5E5E5;
}

.gallery {
    padding: 40px 0;
}

.gallery-list {
    list-style: none;
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 200px 40px 200px 40px 200px 40px 200px 40px 200px 40px 200px 40px 200px;
    -ms-grid-columns: 310px 40px 310px 40px 310px 40px 310px;
        grid-template: repeat(7, 200px) / repeat(4, 310px);
    gap: 40px;
}

.gallery-item {
    position: relative;
    background-color: green;
}

.item-box {
    width: 100%;
    padding: 55px 32px 32px 32px;
    position: absolute;
    bottom: 0;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.0001)), to(rgba(0, 0, 0, 0.841672)));
    background: -o-linear-gradient(top, rgba(0, 0, 0, 0.0001) 0%, rgba(0, 0, 0, 0.841672) 100%);
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0%, rgba(0, 0, 0, 0.841672) 100%);
}

.item-heading {
    font-size: 24px;
    line-height: 29.76px;
    color: #ffffff;
    margin-bottom: 6px;
}

.item-desc {
    font-size: 13px;
    font-weight: 400;
    line-height: 16.12px;
    color: #ffffff;
    opacity: 75%;
}

.gallery-item:nth-child(1) {
    background-image: url(./images/starry-night.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.gallery-item:nth-child(2) {
    background-image: url(./images/pearl-earing.png);
    background-size: cover;
    background-repeat: no-repeat;
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1/3;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
}

.gallery-item:nth-child(3) {
    background-image: url(./images/guernica.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.gallery-item:nth-child(4) {
    background-image: url(./images/penitent-magdalene.png);
    background-size: cover;
    background-repeat: no-repeat;
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1/3;
    -ms-grid-column: 4;
    -ms-grid-column-span: 1;
    grid-column: 4/5;
}

.gallery-item:nth-child(5) {
    background-image: url(./images/galilee-sea.png);
    background-size: cover;
    background-repeat: no-repeat;
    -ms-grid-row: 2;
    -ms-grid-row-span: 2;
    grid-row: 2/4;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
}

.gallery-item:nth-child(6) {
    background-image: url(./images/kanagawa.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.gallery-item:nth-child(7) {
    background-image: url(./images/van-gogh.png);
    background-size: cover;
    background-repeat: no-repeat;
    -ms-grid-row: 2;
    -ms-grid-row-span: 3;
    grid-row: 2/5;
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-column: 3/4;
}

.gallery-item:nth-child(8) {
    background-image: url(./images/gypsy.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.gallery-item:nth-child(9) {
    background-image: url(./images/ermin.png);
    background-size: cover;
    background-repeat: no-repeat;
    -ms-grid-row: 4;
    -ms-grid-row-span: 3;
    grid-row: 4/7;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
}

.gallery-item:nth-child(10) {
    background-image: url(./images/cafe.png);
    background-size: cover;
    background-repeat: no-repeat;
    -ms-grid-row: 4;
    -ms-grid-row-span: 2;
    grid-row: 4/6;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
}

.gallery-item:nth-child(11) {
    background-image: url(./images/mona-lisa.png);
    background-size: cover;
    background-repeat: no-repeat;
    -ms-grid-row: 5;
    -ms-grid-row-span: 2;
    grid-row: 5/7;
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-column: 3/4;
}

.gallery-item:nth-child(12) {
    background-image: url(./images/apples.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.gallery-item:nth-child(13) {
    background-image: url(./images/red-vest.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.gallery-item:nth-child(14) {
    background-image: url(./images/arnolfini.png);
    background-size: cover;
    background-repeat: no-repeat;
    -ms-grid-row: 6;
    -ms-grid-row-span: 2;
    grid-row: 6/8;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
}

.gallery-item:nth-child(15) {
    background-image: url(./images/gypsy.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.gallery-item:nth-child(16) {
    background-image: url(./images/swing.png);
    background-size: cover;
    background-repeat: no-repeat;
    -ms-grid-row: 5;
    -ms-grid-row-span: 3;
    grid-row: 5/8;
    -ms-grid-column: 4;
    -ms-grid-column-span: 1;
    grid-column: 4/5;
}